@import "tailwindcss";
@plugin "daisyui";


[data-theme="dark"]  {
  --color-primary: #ffe20a;
  --color-secondary: #211f00;

  --color-primary-content: #000000;
  --color-secondary-content: #ffffff;

  --color-background-light: #f8f8f5;
  --color-background-dark: #0a0a0a;

  --font-display: "Inter", sans-serif;

  --radius: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
}
/* [data-theme="mydark"] {
  --color-primary: #7d79fd;
  --color-secondary: #c084fc;
  --color-accent: #4ade80;
  --color-netral: #111827;
  --color-base-100: #212121;
} */

body {
  font-family: var(--font-display);
}
/* chrome safari opera*/
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}